<div class="footer">
  <%# <div class="footer-links"> %>
  <%= link_to "", profils_path, class: "fab fa-github" %>
  <%= link_to "", crushes_path, class: "fab fa-instagram" %>
  <%= link_to "", crushes_path, class: "fab fa-facebook" %>
  <%# <%= link_to "", crush_crush_messages_path, class: "fab fa-facebook"%>
  <%# <%= link_to "Trouvez votre crush", new_user_registration_path%>

    <%# <a href="#"><i class="fab fa-twitter"></i></a> %>
    <%# <a href="#"><i class="fab fa-linkedin"></i></a> %>
  <%# </div> %>
</div>
