<div class="loader" data-loader-target="loader" data-controller="loader" data-action="load@window">
    <span class="lettre cambria">C</span>
    <span class="lettre cambria">R</span>
    <span class="lettre cambria">U</span>
    <span class="lettre cambria">S</span>
    <span class="lettre cambria">H</span>
    <span class="lettre cambria">S</span>
    <span class="lettre cambria">.</span>
</div>

<div class="slider"></div>

<div class="container">
  <div class="header">
    <div class="btn btn-login btn-list-none" data-loader-target="loader" data-controller="loader" data-action="load@window">
      <%# <ul>
        <% if user_signed_in? %>
          <%# <li> %>
            <%# <%= link_to "Déconnexion", destroy_user_session_path, data: {turbo_method: :delete} %>
          <%# </li> %>
          <%# <% else %>
          <%# <li> %>
            <%# <%= link_to "se connecter", new_user_session_path %>
          <%# </li> %>
        <%# <% end %>
      <%# </ul>  %>
    </div>
  </div>
  <div class="main">
    <H1 class="title lettre-s" data-loader-target="loader" data-controller="loader" data-action="load@window">C R U S H S</H1>
    <div>
      <%# <%= image_tag "logo1", class: "logo-home-page"%>
    </div>

    <H2 class="font-slogan slogan letter-spacing-1 cambria" data-loader-target="loader" data-controller="loader" data-action="load@window"><span>RENCONTREZ-VOUS</span></H2>

      <div class="btn btn-big">
        <%# <%= link_to "Trouvez votre crush", new_subscription_path, class: "a-pink"%>
      </div>
      <div class="btn btn-ghost">
        <%= link_to "En savoir plus sur nous", about_path(anchor:"about", class:"underline-white")%>
      </div>

  </div>
</div>
